.parent {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(12, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;

	height: 100vh;
	padding: 1rem;
}

.header {
	grid-area: 1 / 1 / 2 / 3;
}

.test {
	grid-area: 2 / 1 / 7 / 2;
	border: 1px solid black;
	padding: 0.5rem;
}
.test div {
	height: auto;
	max-height: 100%;
	overflow: auto;
}
.test div pre {
	background-color: lightgray;
	padding: 0.5rem;
	border-radius: 0.3rem;
}

.gResult {
	grid-area: 7 / 1 / 12 / 2;
	border: 1px solid black;
	padding: 0.5rem;
}
.gResult div {
	height: auto;
	max-height: 100%;
	overflow: auto;
}
.gResult div pre {
	background-color: lightgray;
	padding: 0.5rem;
	border-radius: 0.3rem;
}

.uResult {
	grid-area: 2 / 2 / 12 / 3;
	border: 1px solid black;
	padding: 0.5rem;
}
.uResult div {
	height: auto;
	max-height: 100%;
	overflow: auto;
}
.uResult div textarea {
	background-color: lightgray;
	padding: 0.5rem;
	border-radius: 0.3rem;
	width: 100%;
	max-width: 100%;
}

.footer {
	grid-area: 12 / 1 / 13 / 3;
	text-align: center;
	vertical-align: center;
	padding-top: 1rem;
}
